.header {
    height: 60px;
    background: pink;
}

.btn-info {
    background-color: #929292;
    border-color: #fff;
}
.cms-content {
    padding: 30px;
}
.login {
    text-align: center;
    width: 300px;
    position: absolute;
    left: 38%;
    background: #71b5b4;
    top: 31%;
    padding: 16px;  
}
.navbar .navbar-light {
    background-color: #71b5b4;
}
.leftmain   {
    background-color: #71b5b4;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #71b5b4;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
.sidebar a.active {
    background-color: #88cac9;
    color: white;
  }
  
.sidebar a:hover:not(.active) {
    background-color: #88cac9;
    color: white;
  }
  .sidebar h1 {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
.right-menu {
    margin-left: 200px;
    /* padding: 1px 16px; */
    height: 1000px;
  }
  
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .sidebar h1 {
        text-align: center;
        float: none;
      }
}


