<template>
    <div class="login-area" style="background-image: url('./static/Login.jpg')">
        <div id="login">
            <h3>Selamat Datang Kembali</h3>

            <p>Pastikan untuk membuat akun anda aman </p>

            <p>Semua terisi dengan benar</p>

            <input type="text" v-model="admin.username" placeholder="Username" />
            <br>
            <input type="password" v-model="admin.password" placeholder="Password" />
            <p>Lupa <a href=''>Password</a></p>
            <br><br>
            <button type="button" v-on:click="login()">Masuk</button>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            admin:{
                username:"",
                password:""
            }
        }
    },
    methods:{
		login(){
			axios.post('http://guainsurance.herokuapp.com/v1/admins/login', this.admin)
            .then(response => {
                let token = response.data.auth_token;
                localStorage.setItem('token',token);
                this.$router.push('/adminhome');  
                console.log(token)

            });
		}
	}
        // name: 'Login',
        // data() {
        //     return {
        //         input: {
        //             username:"",
        //             password: ""
        //         },
        //         mockAccount: {
        //             username: "a",
        //             password: "p"
        //         }
        //     }
            
        // },
    // methods: {
    //     login() {
    //         if(this.input.username !== "" && this.input.password !== "") {
    //             if(this.input.username === this.mockAccount.username && this.input.password === this.mockAccount.password) {
    //                 this.$router.push('/adminhome');
    //             } else {
    //                 console.log("The username and / or password is incorrect");
    //             }
    //         } else {
    //             console.log("A username and password must be present");
    //         }
    //     }
    // }
}
</script>

<style scoped>
    .login-area {
        background-repeat: no-repeat;
        /*background-size: 1370px 680px;*/
        position: relative; 
        z-index: 1;
        background-color: #F0F0F0;
        background-size: cover;
        height: 120vh;
    }
    #login {
        width: 500px;
        height: 500px;
        text-align: left;
        border: 0px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        top: 200px;
        padding: 20px;
        position: relative;
        left: 300px;
        bottom: 200px;
        
    }

</style>