<template>

    <div class="container-fliud">
        <div class="sidenav">
            <left-menu />           
        </div>

        <div class="right-menu">
            <cms-header />
            <div id="app" class="container">
                <h2>Agent List</h2>

                <div class="card">
                    <h4 class="card-header">
                        Agent Report
                        <router-link to="/newagent" tag="button" class="btn btn-primary float-right" id="addagent">Add</router-link>
                    </h4>
                    
                        
                    <div class="card-body">
                        <input type="text" placeholder=" Search..">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Gender</th>
                                        <th>Birth Place</th>
                                        <th>Birth Date</th>
                                        <!-- <th>Change Request</th>
                                        <th>Created_at</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="agent in agents" :key="agent.id">
                                        <td class="list-agent">{{ agent.name}}</td>
                                        <td class="list-agent">{{ agent.phone_number }}</td>
                                        <td class="list-agent">{{ agent.email }}</td>
                                        <td class="list-agent">{{ agent.address }}</td>
                                        <td class="list-agent">{{ agent.gender }}</td>
                                        <td class="list-agent">{{ agent.birth_place }}</td>
                                        <td class="list-agent">{{ agent.birth_date }}</td>
                                        <!-- <td class="list-agent">{{ agent.change_request_count }}</td>
                                        <td class="list-agent">{{ agent.created_at }}</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</template>

<script>
import axios from 'axios'
import leftMenu from './LeftMenu.vue'
import cmsHeader from './cmsHeader.vue'
import cmsAgentList from './cmsAgentList.vue'

  export default {

    data() {
        return {
            agents: {
                name: "",
                phone_number: "",
                email: "",
                address: "",
                gender: "",
                birth_place: "",
                birth_date: "",
                change_request_count: "",
                created_at: ""
            }
        }
    },
    mounted () {
        let token= localStorage.getItem('token')
        console.log(token)
        axios.get('http://guainsurance.herokuapp.com/v1/agents',{
        headers:{
            Authorization: token
        }
        })
        .then(response =>{
        this.agents = response.data
        console.log("data", response.data)
        })
    },
    // async mounted() {
    //     const response = await axios.get('http://guainsurance.herokuapp.com/v1/agents')
    //     this.agent = response.data
    // },
    // methods: {
        
    // },
    components: {
      cmsAgentList, leftMenu, cmsHeader
    }
}
</script>

<style scoped>
img {
    border-radius: 50%;

}
</style>