<template>

  <div class="container-fliud">
    <div class="sidenav">
        <left-menu />           
    </div>

    <div class="right-menu">
      <cms-header />
        <div id="app" class="container">
        <div class="card">
          <h4 class="card-header">
            Client Lists
            <router-link to="/newclient" tag="button" class="btn btn-primary float-right" id="addclient">Add</router-link>
          </h4>
          <div class="card-body">
            <div class="card-text">
              <table class="table-responsive table-hover">
                <thead class="thead-inverse">
                  <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Birth Place</th>
                    <th>Birth Date</th>
                    <th>Email</th>
                    <!-- <th>Created at</th>
                    <th>Updated at</th> -->
                    <th>Gender</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="client in client" :key="client.id">
                    <td>{{ client.name }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.birth_place }}</td>
                    <td>{{ client.birth_date }}</td>
                    <td>{{ client.email }}</td>
                    <!-- <td>{{ client.created_at }}</td>
                    <td>{{ client.updated_at }}</td> -->
                    <td>{{ client.gender }}</td>
                    <td>
                      <button type="button" class="btn btn-outline-primary btn-sm" id="edit">Edit</button>
                      <!-- <button type="button" class="btn btn-outline-success btn-sm">Views</button> -->
                      <button type="button" class="btn btn-outline-danger btn-sm" id="delete">Delete</button>
                    </td>
                  </tr>
                </tbody><br>
                
              </table>
            </div>
          </div>
        </div>
        <div>
            <!-- <button type="button" class="btn btn-outline-primary btn-sm">+ Add</button> -->
        </div> 
      </div>
    </div>
  </div>

          
</template>

<script>
import leftMenu from "./LeftMenu.vue";
import cmsHeader from "./cmsHeader.vue";
import cmsCLientList from "./cmsClientList.vue";

import axios from "axios";

export default {
  name: "cmsClientList",
  data() {
    return {
      client: {
        name: "",
        phone_number: "",
        address: "",
        birth_place: "",
        birth_date: "",
        email: "",
        created_at: "",
        updated_at: "",
        gender: ""
      }
    };
  },
  mounted () {
    let token= localStorage.getItem('token')
    console.log(token)
    axios.get('http://guainsurance.herokuapp.com/v1/users',{
    headers:{
        Authorization: token
    }
    })
    .then(response =>{
    this.client = response.data
    console.log("data", response.data)
    })
  },
  // methods: {
  //   addToApi() {
  //     let newclient = {
  //       firstname: this.client.firstname,
  //       lastname: this.client.lastname,
  //       tempat_lahir: this.client.tempat_lahir,
  //       tanggal_lahir: this.client.tanggal_lahir,
  //       alamat: this.client.alamat,
  //       notelpon: this.client.notelpon,
  //       document: this.client.document,
  //       premi: this.client.premi,
  //       start_date: this.client.start_date,
  //       expired_date: this.client.expired_date
  //     };
  //     console.log(newclient);
  //     axios
  //       .post("guainsurance.herokuapp.com/v1/agents/create", newclient)
  //       .then(response => {
  //         console.log(response);
  //       })
  //       .catch(error => {
  //         console.log(error);
  //       });
  //   }
  // },
  components: {
    cmsCLientList,
    leftMenu,
    cmsHeader
  }
};
</script>

<style>
</style>