<template>
  <div class="container-fliud">
    <div class="sidenav">
      <left-menu />           
    </div>

    <div class="right-menu">
      <cms-header />
      <div id="app" class="container">
        <h2>Agent > New Agent</h2>

        <div class="card">
          <h4 class="card-header">
            Personal Information
          </h4>  
                
          <div class="card-body">
            <div class="card-text">
              <form v-on:submit.prevent="onSubmit">
                <div class="form-group row">
                  <div class="col-sm-8">

                    <div class="col-sm-12">
                      <label for="firstname" class="col-form-label">Full Name:</label>
                      <input type="text" id="name1" class="form-control" v-model="agent.name" required>
                    </div>

                    <div class="col-sm-12">
                      <label for="gender" class="col-form-label">Gender:</label><br>
                        <input type="radio" name="gender" value="male" v-model="agent.gender" required> Male<br>
                        <input type="radio" name="gender" value="female" v-model="agent.gender" required> Female<br>
                      <!-- <select name="jeniskelamin" id="name" v-model="formAgent.gender" style="width:100%" required>
                        <option value="">Laki-laki</option>
                        <option value="">Perempuan</option>
                      </select>   -->
                    </div>
                    
                    
                        <div class="col-sm-6">
                            <label for="gender" class="col-form-label">Tempat Lahir:</label>
                            <input type="text" id="name2" class="form-control" v-model="agent.birth_place" required>
                        </div>

                        <div class="col-sm-6">
                            <label for="tempatlahir" class="col-form-label">Tanggal Lahir:</label>
                            <input type="date" id="name3" class="form-control" v-model="agent.birth_date" required>
                        </div>
                    

                    <div class="col-sm-12">
                      <label for="alamat" class="col-form-label">Alamat:</label>
                      <input type="text" id="name4" class="form-control" v-model="agent.address" required>
                    </div>

                    <div class="col-sm-12">
                      <label for="telepon" class="col-form-label">Nomor Telepon:</label>
                      <input type="text" id="name5" class="form-control" v-model="agent.phone_number" required>
                    </div>

                    <div class="col-sm-12">
                      <label for="email" class="col-form-label">Email:</label>
                      <input type="email" id="name6" class="form-control" v-model="agent.email" required>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <p>
                      Please specify a file picture :<br>
                      <input type="file" ref="agentpic" @change="handleImage" name="datafile" size="40">
                    </p>
                    <img class="mr-3" src="@/assets/logo.png" width="100" height="100">
                      
                  </div>
                  
                </div>
                <button type="submit" class="btn btn-outline-primary btn-md float-right" id="saveagent">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import leftMenu from "./LeftMenu.vue";
import cmsHeader from "./cmsHeader.vue";
import cmsNewAgent from "./cmsNewAgent.vue";
import api from "@/services/api";

export default {
  name: "cmsNewAgent",
  data() {
    return {
      // token: null,
      agent: {
        name: "",
        gender: "",
        birth_place: "",
        birth_date: "",
        address: "",
        phone_number: "",
        email: "",
      }
    }
  }, 
  methods: {
    onSubmit() {
      api.post('http://guainsurance.herokuapp.com/v1/agents/create', {
          name: this.agent.name,
          gender: this.agent.gender,
          birth_place: this.agent.birth_place,
          birth_date: this.agent.birth_date,
          address: this.agent.address,
          phone_number: this.agent.phone_number,
          email: this.agent.email
      })
      .then(response => {
        console.log(response)
        alert('Agent berhasil ditambahkan :p');
        this.$router.push('/agent');
      })
    },
    handleImage(e) {
      this.editForm.avatarEdit = this.$refs.agentpic.files[0];
      console.log(this.$refs.agentpic.files[0])
      let reader  = new FileReader();
      reader.onload = (e) => {
        this.editForm.imageEditPreview = e.target.result;
      };
      if(this.editForm.avatarEdit.size > 2000000) {
        alert('Maximal file size 2MB')
        setTimeout(() =>{
          this.editForm.imageEditPreview = ''
        }, 500)
      }
    },
  },
  components: {
    cmsNewAgent,
    leftMenu,
    cmsHeader
  }
}

</script>

<style>

</style>
