<template>

  <div class="container-fliud">
    <div class="sidenav">
        <left-menu />           
    </div>

    <div class="right-menu">
      <cms-header />
        <div id="app" class="container">
        <div class="card">
          <h4 class="card-header">
            Personal Information
          </h4>
          <div class="card-body">
            <div class="card-text">
              <form v-on:submit.prevent="onSubmit">
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="firstname" class="col-form-label" >Full Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="full name" v-model="client.name">
                  </div>
                  <div class="col-sm-6">
                    <label for="email" class="col-form-label" >Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="email" v-model="client.email">
                  </div>
                  <div class="col-sm-6">
                    <label for="">Gender</label>
                    <select class="form-control" id="gender" v-model="client.gender">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                </div>   
                <div class="form-group row">
                <div class="col-sm-6">
                    <label for="birth_place" class="col-form-label">Birth Place:</label>
                    <input type="text" class="form-control" id="birth_place" placeholder="birth place" v-model="client.birth_place">
                  </div>
                  <div class="col-sm-6">
                    <label for="birth_date" class="col-form-label">Birth Date:</label>
                    <input type="date" class="form-control" id="birth_date" v-model="client.birth_date">
                  </div>  
                </div> 
                <div class="form-group row"> 
                  <div class="col-sm-6">
                    <label for="addres" class="col-form-label">Addres:</label>
                    <input type="text"  class="form-control" id="address" placeholder="addres" v-model="client.address">
                  </div>
                  <div class="col-sm-6">
                    <label for="phone" class="col-form-label">Phone:</label>
                    <input type="text" class="form-control" id="phone_number" placeholder="phone" v-model="client.phone_number">
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-primary float-right">Add</button>
              </form>
            </div>
          </div>
        </div>

        <div class="card">
          <h4 class="card-header">
            Policy Information
          </h4>
          <div class="card-body">
            <div class="card-text">
              <form v-on:submit.prevent="onSubmit">
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="userid" class="col-form-label">User Id:</label>
                    <input type="text" class="form-control" id="userid" placeholder="user id" v-model="client.user_id">
                  </div>
                   <div class="col-sm-6">
                    <label for="insurance_category_id" class="col-form-label">Agent Id:</label>
                    <input type="text" class="form-control" id="insurance_category_id" placeholder="agent id" v-model="client.insurance_category_id">
                  </div>
                  <div class="col-sm-6">
                    <label for="insurance_category_id" class="col-form-label" >Insurance category id:</label>
                    <input type="text" class="form-control" id="insurance_category_id" placeholder="insurance_category_id" v-model="client.insurance_category_id">
                  </div>
                   
                  <div class="col-sm-6">
                    <label for="policy_id" class="col-form-label" >Policy Id:</label>
                    <input type="text" class="form-control" id="policy_id" placeholder="police id" v-model="client.policy_id">
                  </div>
                </div>
                  <div class="col-sm-6">
                    <label for="document" class="col-form-label" ></label>
                    <input type="file" ref="filepolis" @change="handleDoc">
                  </div>
                <div>
                  <div class="col-sm-6">
                    <label for="premi" class="col-form-label">Premium:</label>
                    <input type="text" class="form-control" id="premium" placeholder="premi" v-model="client.premium">
                  </div>
                </div>

                  <div class="col-sm-6">
                    <label for="insurance_due_date" class="col-form-label">Insurance Due Date:</label>
                    <input type="date" class="form-control" id="insurance_due_date" placeholder="premi" v-model="client.insurance_due_date">
                  </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <label for="start_date" class="col-form-label">Register Date:</label>
                    <input type="date" class="form-control" id="register_date" v-model="client.register_date">
                  </div>
                  <div class="col-sm-6">
                    <label for="expired_date" class="col-form-label">Premium Date:</label>
                    <input type="date" class="form-control" id="premium_date" v-model="client.premium_date">
                  </div>
                   <div class="col-sm-6">
                    <label for="guarantee_number" class="col-form-label">Guarantee Number:</label>
                    <input type="text" class="form-control" id="guarantee_number" placeholder="premi" v-model="client.guarantee_number">
                  </div>
                </div>     
                <button type="submit" class="btn btn-outline-primary float-right" id="add">Add</button>
              </form>  
            </div>
          </div>
        </div>

        <div class="card">
          <h4 class="card-header">
            Client Lists
          </h4>
          <div class="card-body">
            <div class="card-text">
              <table class="table">
                <thead class="thead-inverse">
                  <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Location</th>
                    <th>Change</th>
                    <th>Client</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="client in client" :key="client.id">
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.location }}</td>
                    <td>{{ client.change }}</td>
                    <td>{{ client.client }}</td>
                    <td>{{ client.select }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-outline-primary float-right" id="save">Save</button>
      </div>
    </div>
  </div>

          
</template>

<script>
import leftMenu from "./LeftMenu.vue";
import cmsHeader from "./cmsHeader.vue";
import cmsCLientList from "./cmsClientList.vue";
import api from "@/services/api";

export default {
  name: "cmsNewClient",
  data() {
    return {
      client: {
        name: "",
        email: "",
        phone_number: "",
        gender: "",
        address: "",
        birth_place: "",
        birth_date: "",
      },
      policy:{
        user_id:"",
        agent_id:"",
        insurance_category_id:"",
        policy_id:"",
        premium:"",
        insurance_due_date:"",
        policy:"",
        register_date:"",
        premium_date:"",
      }
    };
  },
  methods: {
    onSubmit() {
      api
        .post("http://guainsurance.herokuapp.com/v1/users/create", {
          name: this.client.name,
          email: this.client.email,
          phone_number: this.client.phone_number,
          gender: this.client.gender,
          address: this.client.address,
          birth_place: this.client.birth_place,
          birth_date: this.client.birth_date
        })
        .then(response => {
          console.log(response);
          alert("clint berhasil ditambahkan");
          this.$router.push("/client");
          if(response.status === 201){

            api
            .post("http://guainsurance.herokuapp.com/v1/policies/create", {
              policy:this.client.policy,
              premium: this.client.premium,
              register_date: this.client.register_date,
              premium_date: this.client.premium_date,
              user_id:this.client.user_id,
              agent_id:this.client.agent_id,
              insurance_category_id:this.client.insurance_category_id,
              insurance_due_date:this.client.insurance_due_date,
              policy_id:this.client.policy_id,
              guarantee_number:this.client.guarantee_number
            })
            .then(response => {
              console.log(response);
              alert("clint berhasil ditambahkan");
              this.$router.push("/client");
            })
          }
        })
        
    },
    handleDoc(e) {
      this.policy = this.$refs.filepolis.files[0];
      console.log(this.$refs.filepolis.files[0]);
      if (this.policy.size > 2000000) {
        alert("Maximal file size 2MB");
        setTimeout(() => {
          this.editForm.ediEditPreview = "";
        }, 500);
      }
    }
  },
  components: {
    cmsCLientList,
    leftMenu,
    cmsHeader
  }
};
</script>

<style>
</style>