<template>
  <div class="sidebar">
    <h1 href="#">GUA</h1>

        <router-link to="/adminHome"><i class="fas fa-align-justify"></i>Dashboard</router-link>
        <router-link to="/client"><i class="fas fa-users"></i>Client List</router-link>
        <router-link to="/agent"><i class="fas fa-user-tie"></i>Agent List</router-link>
        <router-link to="/promo"><i class="fas fa-bookmark"></i>Promo</router-link>

    <!-- <a class="active" href="#"><img src="https://cdn2.iconfinder.com/data/icons/picons-essentials/71/dashboard-512.png">
      Dashboard</a>
    <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Group_font_awesome.svg">
      Client List</a>
    <a href="#"><img src="https://imagerie78.com/wp-content/uploads/2016/09/Silhouette-homme.png">
      Agents</a>
    <a href="#"><img src="http://icons-for-free.com/free-icons/png/512/2075801.png">
      Promo</a> -->
  </div>
  
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style>
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.sidebar i {
  margin: 5px;
}
</style>
