<template>
    
  <div id="app">
        <div id="nav">            
            <router-view/>   
        </div>
  </div>
     
</template>

<script>
export default {
  name: 'App'
}
</script>

<style scoped>
     
    h1 {
        padding: 0;
        margin-top: 0;
    }
    
    #app {
        margin: auto;
        /*
        background-image: url("./assets/Login.jpg");
        background-size: 100% 100%;
        background-position: top left;       
        background-repeat: no-repeat;
        background-image: url("./assets/Login.jpg");
        
        background-repeat: no-repeat;
        background-size: 19in 7.5in;
        position: absolute;
        margin-top: 0px;
        margin-right: 0px
        */
        
    }
</style>
